{% extends 'base.html' %}
{% block content %}

<h1>TsuNotMe</h1>

<div id="escape-story"></div>
<div>
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="geocoder">Enter Address:</label>
    <input id="address" type="textbox" value="Hackbright">
    <input id="geo-submit" type="button" value="Set Marker!">
</form>
<form class="form-inline" id="LocationPicker">
  <div class="form-group">
    <label class="sr-only" for="elevationThreshold">Elevation Threshold:</label>
    <input type="number" class="form-control" id="elevationThreshold" placeholder="### meters">
  </div>
  <div class="form-group">
    <label class="sr-only" for="timeThreshold">Time Threshold:</label>
    <input type="number" class="form-control" id="timeThreshold" placeholder="Tic Toc">
  </div>
    <select class="form-control" id="travelModes">
      <option value="WALKING">walking</option>
      <option value="DRIVING">driving</option>
      <option value="BICYCLING">biking</option>
      <option value="TRANSIT">transit</option>
    </select>
  <button type="submit" class="btn btn-default">Reveal Path!</button>
</form>
</div>
<div><div id='google_map'></div><div id="directionsPanel"></div></div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var map;
    var San_Francisco = {lat: 37.7749, lng: -122.4194};
    var start_marker;
    var end_marker;
    var directionsDisplay;
    var directionsService;
    var endMarkerArray = [];
    function initMap() {
        directionsService = new google.maps.DirectionsService();
        map = new google.maps.Map(document.getElementById('google_map'), {
            center: San_Francisco,
            zoom: 12
        });
        start_marker = new google.maps.Marker({
            position: San_Francisco,
            draggable: true,
            map: map,
            title: 'BOOP'
        });
        end_marker = new google.maps.Marker({
            position: San_Francisco,
            draggable: false,
            map: map,
            visible: false,
            title: 'ESCAPE!'
        });
        google.maps.event.addListener(map, 'click', function(event) {
            updateMarker(event.latLng);
            start_marker.setOptions({visible:true});
        });
        var geocoder = new google.maps.Geocoder();
        var elevator = new google.maps.ElevationService;
        document.getElementById('geo-submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
          start_marker.setOptions({visible:true});
        });
        var rendererOptions = {
            map: map
        }
        directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions)
        }
    function updateMarker(data){
        start_marker.setPosition(data);
    }
    function geocodeAddress(geocoder, map) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
                map.setCenter(results[0].geometry.location);
                updateMarker(results[0].geometry.location);
            } else {
                $("#messageBody").html('Geocode was not successful for the following reason: ' + status);
                $('#messageModal').modal("show");
            }
        });
    }
    function endMarker(latitude, longitude) {
        end_marker.setPosition({lat: latitude, lng: longitude});
    }
    function calcRoute() {
        console.log(start_marker.getPosition().lat(), start_marker.getPosition().lng(), end_marker.getPosition().lat(), end_marker.getPosition().lng());
        for (i = 0; i < markerArray.length; i++) {
            markerArray[i].setMap(null);
        }
        var request = {
            origin: {lat: start_marker.getPosition().lat(), lng: start_marker.getPosition().lng()},
            destination: {lat: end_marker.getPosition().lat(), lng: end_marker.getPosition().lng()},
            provideRouteAlternatives: true,
            travelMode: 'WALKING'
        };
        directionsService.route(request, function(result, status) {
            if (status == 'OK') {
                console.dir(request)
                directionsDisplay.setDirections(result);
            } else {
                console.log("direction services failed")
            }
        });
        start_marker.setOptions({visible:false});
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directionsPanel'));
    }
    function showPoints(results) {
        console.dir(results);
        lat = results["latitude"]
        lng = results["longitude"]
        endMarker(lat, lng)
        console.log(results["elevation"].toString())
        $("#escape-story").append("<p>the user is in tile: "+results["tile_id"].toString()+"</p>");
        $("#escape-story").append("<p>The nearest high point is at lat: "+results["latitude"].toString()+" long: "+results["longitude"].toString()+" elevation: "+results["elevation"].toString()+"</p>");
        $("#escape-story").append("<p>What will happen to you?</p>");
        calcRoute()
    }
    function getPoints(evt) {
        evt.preventDefault();
        elevator.getElevationForLocations({
            'locations': {start_marker.getPosition().lat(),start_marker.getPosition().lng()}
            }, function(results, status) {
                console.log(status)
                if (status === 'OK') {
                    if (results[0]) {
                        var elevation = results[0].elevation;
                        console.log(elevation)
                    };
                };
            });
        $("#escape-story").empty();
        var formInputs = {
            "latitude": start_marker.getPosition().lat(),
            "longitude": start_marker.getPosition().lng(),
            "min_height": 150
            "max_time": 60
            "travel_mode": "WALKING"
            "elevation": elevation
        };
        if $(#elevationThreshold).val():
            formInputs["min_height"]= $(#elevationThreshold).val();
        if $(#timeThreshold).val():
            formInputs["max_time"] = $(#timeThreshold).val();
        if $(#travelModes).val():
            formInputs["travel_mode"] = $(#travelModes).val();
        $.get("/start.json", formInputs, showPoints);
    }
    $("#LocationPicker").on("submit", getPoints);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap" async defer></script>




{% endblock %}
