{% extends 'base.html' %}
{% block content %}

<h1>TsuNotMe</h1>
<div>
<h2>WAVE</h2>
</div>
<div>
<h2>START LOCATION</h2>
</div>
<div id="escape-story">
<h2>ESCAPE</h2>
<button type="button" id="LocationPicker">I Picked My Location!</button>
</div>
<div id="floating-panel">
    <input id="address" type="textbox" value="Hackbright">
    <input id="geo-submit" type="button" value="Set Marker!">
</div>
<div id='google_map'></div>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    var map;
    var San_Francisco = {lat: 37.7749, lng: -122.4194};
    var start_marker;
    var start_lat;
    var start_lng;
    var end_marker;
    var end_lat;
    var end_lng;
    var directionsDisplay;
    var directionsService;
    function initMap() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsService = new google.maps.DirectionsService();
        map = new google.maps.Map(document.getElementById('google_map'), {
            center: San_Francisco,
            zoom: 12
        });
        start_marker = new google.maps.Marker({
            position: San_Francisco,
            draggable: true,
            map: map,
            title: 'BOOP'
        });
        end_marker = new google.maps.Marker({
            position: San_Francisco,
            draggable: false,
            map: map,
            visible: false,
            title: 'ESCAPE!'
        });
        google.maps.event.addListener(map, 'click', function(event) {
            updateMarker(event.latLng);
        });
        start_marker.addListener('dragend', function(event) {
            updateLocation();
        });
        updateLocation();
        var geocoder = new google.maps.Geocoder();

        document.getElementById('geo-submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
    }
    function updateLocation(){
        start_lat = start_marker.getPosition().lat();
        start_lng = start_marker.getPosition().lng();
        console.log(start_lat, start_lng);
    }
    function updateMarker(data){
        start_marker.setPosition(data);
        updateLocation();
    }
    function geocodeAddress(geocoder, map) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
                map.setCenter(results[0].geometry.location);
                updateMarker(results[0].geometry.location);
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    function endMarker(latitude, longitude) {
        end_marker.setPosition({lat: latitude, lng: longitude});
        end_marker.setOptions({visible:true});
    }
    function calcRoute() {
        console.log(start_lat, start_lng, end_marker.getPosition().lat(), end_marker.getPosition().lng())
        var request = {
            origin: {lat: start_lat, lng: start_lng},
            destination: {lat: end_marker.getPosition().lat(), lng: end_marker.getPosition().lng()},
            travelMode: 'WALKING'
        };
        directionsService.route(request, function(result, status) {
            if (status == 'OK') {
                console.dir(request)
                directionsDisplay.setDirections(result);
            } else {
                console.log("direction services failed")
            }
        });
    }
    function showPoints(results) {
        console.dir(results);
        lat = results["latitude"]
        lng = results["longitude"]
        endMarker(lat, lng)
        console.log(results["elevation"].toString())
        $("#escape-story").append("<p>the user is in tile: "+results["tile_id"].toString()+"</p>");
        $("#escape-story").append("<p>The nearest high point is at lat: "+results["latitude"].toString()+" long: "+results["longitude"].toString()+" elevation: "+results["elevation"].toString()+"</p>");
        $("#escape-story").append("<p>What will happen to you?</p>");
        calcRoute()
    }
    function getPoints(evt) {
        evt.preventDefault();
        var formInputs = {
            "latitude": start_lat,
            "longitude": start_lng,
        };
        $.get("/start.json", formInputs, showPoints);
    }
    $("#LocationPicker").on("click", getPoints);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap" async defer></script>



{% endblock %}
