<!doctype html>
<html>
<head>
    <title>Run for your life!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/everything.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:700|Ubuntu" rel="stylesheet">
</head>
<body>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- navbar with brand name, login/logout/history buttons -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">TsuNotMe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- for left side links, currently unused -->     
       </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if "user_id" in session %}
        <li class="active tab" id="loggoutbutton"><a>LOGOUT <span class="sr-only">(current)</span></a></li>
        <li class="active tab" id="sidebarPointer"><a>SEARCH HISTORY <span class="sr-only">(current)</span></a></li>
        {% else %}
        <li class="active tab" data-toggle="modal" data-target="#loginModal" id="loginbutton"><a>LOGIN/REGISTER</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- container for search parameter form inputs and geocoder fir address search -->
<div class="wrapper">
    <div class='col-lg-9 col-xs-12 container'>
        <form class="form-inline" id="LocationPicker">
        <div class="form-group">
            <label class="sr-only" for="geocoder">Enter Address:</label>
            <input id="address" type="textbox" value="Hackbright">
            <input id="geo-submit" type="button" value="Set Marker!">
         </div>
            <select class="form-control" id="elevationThreshold">
              <option value="25">25 meters</option>
              <option value="50">50 meters</option>
              <option value="75">75 meters</option>
              <option value="100">100 meters</option>
              <option value="125">125 meters</option>
              <option value="150">150 meters</option>
              <option value="200">200 meters</option>
              <option value="300">300 meters</option>
              <option value="400">400 meters</option>
              <option value="500">500 meters</option>
              <option value="600">600 meters</option>
              <option value="700">700 meters</option>
              <option value="800">800 meters</option>
              <option value="900">900 meters</option>
            </select>
            <select class="form-control" id="timeThreshold">
              <option value="15">15 min</option>
              <option value="20">20 min</option>
              <option value="25">25 min</option>
              <option value="30">30 min</option>
              <option value="35">35 min</option>
              <option value="40">40 min</option>
              <option value="45">45 min</option>
              <option value="50">50 min</option>
              <option value="60">1 hour</option>
              <option value="90">1.5 hours</option>
              <option value="120">2 hours</option>
            </select>
            <select class="form-control" id="travelModes">
              <option value="WALKING">walking</option>
              <option value="DRIVING">driving</option>
              <option value="BICYCLING">biking</option>
              <option value="TRANSIT">transit</option>
            </select>
          <button type="submit" class="btn btn-default">Reveal Path!</button>
        </form>
    </div>
    <div class='map' id='google_map'></div>
    <div class='directionsPanel' id="directionsPanel"></div>
</div>
<!-- sidebar displaying search history -->
<div id="sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="close-sidenav">&times;</a>
  <div id="sidebar-body"></div>
</div>
<!-- Login Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login/Register</h4>
      </div>
      <div class="modal-body">
        <form id="loginForm">
          <div class="form-group">
            <label for="nickname">Name</label>
            <input type="text" class="form-control" id="nickname" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- message modal, used for various things mostly error statuses -->
<div id="messageModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="messageBody"></h4>
      </div>
    </div>
  </div>
</div>
<!-- info window modal for search history expanded info view -->
<div id="impactModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="infoTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="startingplace"></p>
        <p id="endingplace"></p>
        <p id="routeduration"></p>
        <p id="impactanalysis"></p>
        <button type="button" id="searchAgain" class="btn btn-default btn-lg btn-block">Repeat Search!
        </button>
      </div>
    </div>
  </div>
</div>
<!-- storyline modal to show elevation change and provide dialogue -->
<div id="escape-story" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ESCAPE STORY</h4>
      </div>
      <div class="modal-body" id="escapeStory"></div>
    </div>
  </div>
</div>

<script src="../static/messages.js" type="text/javascript"></script>
<script src="../static/googlemap.js" type="text/javascript"></script>
<script src="../static/mapstyles.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap" async defer></script>

</body>
</html>